body {
    background-color: ghostwhite;
    color: #004257;
    padding: 5px 10px 5px 10px;
}

h1 {
    color: #004257;
    background-color: darkorange;
    background-size: cover;
    text-align: center;
    width: 100%;
}

a.button {
    text-indent: 20px;
    color: #004257;
    background-color: darkorange;
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px;
    border-radius: 25px;
    transition-duration: 0.5s;
}

input {
    color: #004257;
    background-color: whitesmoke;
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px;
    border-radius: 25px;
    transition-duration: 0.5s;
}

input:hover {
    background-color: navajowhite;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid navajowhite;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

footer {
    margin: 50px 10px 5px 10px;
}

.tags li {
    list-style-type: none;
    padding: 5px;
    border-radius: 25px;
    background-color: #bedbdb;
    display: inline-block;
}

.tags li a {
    border-radius: 25px;
    color: black;
    padding: 0 3px;
    opacity: 0.3;
}

.tags li:hover a {
    background-color: rgba(255, 0, 0, 0.3);
    opacity: 1;
}

.tags ul {
    display: inline;
    padding: 0;
}

.content-wrapper {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid navajowhite;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.selector {
    margin-bottom: 50px;
}