body {
    margin-top: 50px;
    background-color: #f6ffcf;
    color: #004257;
    padding: 5px 10px 5px 10px;
}

h1 {
    color: #004257;
    background-color: darkorange;
    background-size: cover;
    text-align: center;
    width: 100%;
}

h1.main_page{
    margin-top: 0;
    border: 0;
}

a.button {
    text-indent: 20px;
    color: #004257;
    background-color: darkorange;
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px;
    border-radius: 25px;
    transition-duration: 0.5s;
}

input {
    color: #004257;
    background-color: whitesmoke;
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 25px;
    transition-duration: 0.5s;
}

input:hover {
    background-color: navajowhite;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid navajowhite;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

footer {
    margin: 50px 10px 5px 10px;
}

.tags li {
    list-style-type: none;
    padding: 5px;
    border-radius: 25px;
    background-color: #bedbdb;
    display: inline-block;
}

.tags li a {
    border-radius: 25px;
    color: black;
    padding: 0 3px;
    opacity: 0.3;
    text-decoration: none;
}

.tags li:hover a {
    background-color: rgba(255, 0, 0, 0.3);
    opacity: 1;
}

.tags ul {
    display: inline;
    padding: 0;
}

.message {
    padding: 0.5em 0.5em;
    box-sizing: border-box;
    border: 2px solid navajowhite;
    border-radius: 4px;
    background-color: rgba(248, 214, 74, 0.2);
    resize: none;
    margin-left: 1em;
}

.question .message {

}

.answer .message {

}

.comment .message{
    padding-top: 0;
    padding-bottom: 0;
}

.comment .button{
    font-size: smaller;
    margin: 0;
    text-decoration: none;
}

.button.delete:hover{
    background-color: orangered;
}

.button.edit:hover{
    background-color: cadetblue;
}

.comment {
    margin-left: 3em;
    border-left: cadetblue 3px solid;
    padding-left: 1em;
}

.comment table {
    font-size: smaller;
}

.comment ul {
    list-style-type: none;
    padding: 0;
}

.comment li {
    display: inline-block;
    margin: 0;
}

.selector {
    margin-bottom: 50px;
}

h1.question-title {
    text-align: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: max-content;
    background: none;
    border-bottom: chocolate 2px;
    border-bottom-style: solid;
    margin-bottom: 1em;
}

a.button {
    text-decoration: none;
}

a.button:hover {
    background-color: palegreen;
}

.confirm-delete form {
    display: inline-block;
}

.confirm-delete form#confirm input:hover {
    background-color: orangered;
}

.confirm-delete form#cancel input:hover {
    background-color: aquamarine;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #004257;
    padding: 10px;
}