body {
    background-color: ghostwhite;
    color: #004257;
    padding: 5px 10px 5px 10px;
}
h1 {
    color: #004257;
    background-color: darkorange;
    background-size: cover;
    text-align: center;
    width: 100%;
}
a.button {
    color: #004257;
    background-color: darkorange;
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px;
    border-radius: 25px;
    transition-duration: 0.5s;
}

}
footer {
    margin: 50px 10px 5px 10px;
}

div {

}
.content-wrapper {
    padding: 5%;
}
.selector {
    margin-bottom: 50px;
}