{% extends "layout.html" %}

{% block content %}
    <h1>Ask a new question</h1>
    <form action="/add-question/" method="post" enctype="multipart/form-data">
        <p><label>
            Question title<br>
            <input type="text" value="Title" name="title" required>
        </label></p>
        <p><label>
            Question<br>
            <textarea rows="4" cols="40" name="message" required>Your question</textarea>
        </label></p>
        <p><label>
            Image(optional)<br>
            <input type="file" name="image" id="image">
        </label></p>
        <p><label>
            <input type="submit" value="Submit question" name="submit">
        </label></p>
    </form>
{% endblock %}