<!doctype html>
<html>
<head>
    <title>AskMate Home Page</title>
</head>
<body>
    <h1>Welcome to AskMate!</h1>
    <h3><a href="/add-question/">Ask a new question</a></h3>
    <p>
        <form action="{{ url_for('search') }}" method="get" name="search" target="_blank">
            <label>Search:<input type="text" name="search"></label>
            <input type="submit" value="Search">
        </form>
    </p>
    <table>
        <tr>
        {% for header in headers[1:5] %}
            <td>
                <table>
                    <tr>
                        <td>
                            <table>
                                <th>
                                    {{ nice_headers[header] }}
                                </th>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <a href="/list/?header={{header}}&reverse=1"><img
                                                    src="/ui/sort-up.png" width="16"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="/list/?header={{header}}&reverse=0"><img
                                                    src="/ui/sort-down.png" width="16"></a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        {% endfor %}
        </tr>
        {% for row in questions %}
            <tr>
            {% for header in headers[1:5] %}
                {% if header == "title" %}
                <td> <a href="/question/{{ row['id'] }}" >{{row[header]}} </a></td>
                {% else %}
                <td> {{row[header]}} </td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <br><br>
    <div>
        Icons made by
        <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a>
        from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
        CC 3.0 BY</a>
    </div>
</body>
</html>