{% extends "layout.html" %}

{% block content %}
    <h1 class="main_page">Welcome to AskMate!</h1>
    <h2><a class="button" href="/add-question/">Ask a new question</a></h2>
    <p>
        <form action="{{ url_for('search') }}" method="get" name="search" target="_blank">
            <label>Search:<input type="text" name="search" required></label>
            <input type="submit" value="Search">
        </form>
    </p>
    {% if index_page %}
    <p>
        Viewing the first 5 questions.
    </p>
    <h3><a class="button" href="{{ url_for('list_messages') }}">List all questions</a></h3>
    {% else %}
    <p>
        Viewing all questions.
    </p>
    {% endif %}
    <table>
        <tr>
        {% for header in headers[1:5] %}
            <td>
                <table>
                    <tr>
                        <td>
                            <table>
                                <th>
                                    {{ nice_headers[header] }}
                                </th>
                                <td>
                                    {% if not index_page %}
                                        <table>
                                            <tr>
                                                <td>
                                                    <a href="/list/?header={{header}}&reverse=1"><img
                                                        src="/ui/sort-up.png" width="16"></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="/list/?header={{header}}&reverse=0"><img
                                                        src="/ui/sort-down.png" width="16"></a>
                                                </td>
                                            </tr>
                                        </table>
                                    {% endif %}
                                </td>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        {% endfor %}
        </tr>
        {% for row in questions %}
            <tr>
            {% for header in headers[1:5] %}
                {% if header == "title" %}
                <td> <a href="/question/{{ row['id'] }}" >{{row[header]}} </a></td>
                {% else %}
                <td> {{row[header]}} </td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% include 'footer.html' %}
{% endblock %}