{% extends "layout.html" %}

{% block content %}
<body>
    <h1>Add a new comment to {{ question["title"] }}</h1>
    <p>{{ question['message'] }}</p>
    <form action="/question/{{ question['id'] }}/new-comment/" method="post" enctype="multipart/form-data">
        <p><label>
            Comment<br>
            <textarea rows="4" cols="40" name="message" minlength="10" required>Your comment</textarea>
        </label></p>
        <p><label>
            <input type="submit" value="Submit comment" name="submit">
        </label></p>
    </form>
{% endblock %}