<!doctype html>
<html>
<head>
    <title>AskMate | New comment to {{ question["title"] }}</title>
</head>
<body>
    <h1>Add a new comment to {{ question["title"] }}</h1>
    {% if answer['message'] %}
    <p>{{ answer['message'] }}</p>
    <form action="/question/{{ question['id'] }}/new-comment/" method="post" enctype="multipart/form-data">
        <p><label>
            Comment<br>
            <textarea rows="4" cols="40" name="message" minlength="10">Your comment</textarea>
        </label></p>
        <p><label>
            <input type="submit" value="Submit answer" name="submit">
        </label></p>
    </form>
    {% else %}
    <p>{{ question['message'] }}</p>
    <form action="/question/{{ question['id'] }}/new-comment/" method="post" enctype="multipart/form-data">
        <p><label>
            Comment<br>
            <textarea rows="4" cols="40" name="message" minlength="10">Your comment</textarea>
        </label></p>
        <p><label>
            <input type="submit" value="Submit answer" name="submit">
        </label></p>
    </form>
    {% endif %}
</body>
</html>