{% extends "layout.html" %}

{% block content %}
    <p><a class="button" href="{{url_for('show_question', question_id=question_id)}}">Back to Question</a></p>
    <form action="{{ url_for('new_tag_for_question', question_id = question_id ) }}" method="POST">
        <label>
            New tag: <br>
            <input type="text" name="new_tag">
        </label>
        <input type="submit" value="Add tag">
        <p>OR</p>
        <label>
            Select from existing: <br>
            <select name="existing_tag">
                {% for tag in all_tags %}
                <option value="{{ tag['id'] }}">{{ tag["name"] }}</option>
                {% endfor %}}
            </select>
        </label>
        <input type="submit" value="Add tag">
    </form>
{% endblock %}