<!doctype html>
<html>
<head>
    <title>AskMate | {{ question['title'] }}</title>
</head>
<body>
    <h1>{{ question['title'] }}</h1>
    <p>{{ question['message'] }}</p>
    <table>
        <tr>
            <th>
                Submission Time:
            </th>
            <td>
                {{ question['submission_time'] }}
            </td>
            <th>
                View Number:
            </th>
            <td>
                {{ question['view_number'] }}
            </td>
            <th>
                Vote Number:
            </th>
            <td>
                {{ question['vote_number'] }}
            </td>
        </tr>
    </table>
    {% if question['image'] %}
    <p><img src="{{ question['image'] }}"></p>
    {% endif %}
    <p><a href="/question/{{ question['id'] }}/new-answer/">Add new answer</a></p>
    <p><a href="/question/{{ question['id'] }}/edit">Update your question</a></p>
    <h2>Answers:</h2>
    {% if answers %}
        {% for answer in answers %}
        <h3>Answer #{{ answer['id'] }}</h3>
        <p>{{ answer['message'] }}</p>
        <table>
            <tr>
                <th>
                    Submission Time:
                </th>
                <td>
                    {{ answer['submission_time'] }}
                </td>
                <th>
                    Vote Number:
                </th>
                <td>
                    {{ answer['vote_number'] }}
                </td>
            </tr>
        </table>
        {% if answer['image'] %}
        <p><img src="{{ answer['image'] }}"></p>
        {% endif %}
        <br>
        {% endfor %}
    {% else %}
    <p>No answers yet.</p>
    {% endif %}
</body>
</html>