<!doctype html>
<html>
<head>
    <title>AskMate | {{ question['title'] }}</title>
</head>
<body>
    <a href="{{url_for('list_messages')}}">Back to list</a>
    <h1>{{ question['title'] }}</h1>
    <p>{{ question['message'] }}</p>
    {% if question['image'] %}
    <p><a target="_blank" rel="noopener noreferrer" href="{{ url_for('index') + 'images/' + question['image'] }}">
        <img src="{{ url_for('index') + 'images/' + question['image'] }}" height="128">
    </a></p>
    {% endif %}
    <table>
        <tr>
            <th>
                Submission Time:
            </th>
            <td>
                {{ question['submission_time'] }}
            </td>
            <th>
                View Number:
            </th>
            <td>
                {{ question['view_number'] }}
            </td>
            <th>
                Vote Number:
            </th>
            <td>
                {{ question['vote_number'] }}
            </td>
            <td>
                <table>
                    <tr>
                        <td>
                            <a href="/question/{{ question['id'] }}/vote-up/"><img
                                src="/ui/caret-arrow-up.png" width="16"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/question/{{ question['id'] }}/vote-down/"><img
                                src="/ui/caret-arrow-down.png" width="16"></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    <p><a href="/question/{{ question['id'] }}/edit">Update your question</a></p>
    <p><a href="/question/{{ question['id'] }}/delete"><strong>Delete question</strong></a></p>
    </table>
    <p><a href="/question/{{ question['id'] }}/new-answer/">Add new answer</a></p>
    <h2>Answers:</h2>
    {% if answers %}
        {% for answer in answers %}
            <h3>Answer #{{ answer['id'] }}</h3>
            <p>{{ answer['message'] }}</p>
            {% if answer['image'] %}
                <p><a target="_blank" rel="noopener noreferrer" href="{{ url_for('index') + 'images/' + answer['image'] }}">
                    <img src="{{ url_for('index') + 'images/' + answer['image'] }}" height="160">
                </a></p>
            {% endif %}
            <table>
                <tr>
                    <th>
                        Submission Time:
                    </th>
                    <td>
                        {{ answer['submission_time'] }}
                    </td>
                    <th>
                        Vote Number:
                    </th>
                    <td>
                        {{ answer['vote_number'] }}
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <a href="/answer/{{ answer['id'] }}/vote-up/"><img
                                        src="/ui/caret-arrow-up.png" width="16"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/answer/{{ answer['id'] }}/vote-down/"><img
                                        src="/ui/caret-arrow-down.png" width="16"></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <p><a href="/answer/{{ answer['id'] }}/delete">Delete answer</a></p>
        {% endfor %}
    {% else %}
        <p>No answers yet.</p>
    {% endif %}
    <br><br>
    <div>
        Icons made by
        <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a>
        from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
        CC 3.0 BY</a>
    </div>
</body>
</html>