{% extends "layout.html" %}

{% block content %}
    <h1>Search Results:</h1>
    {% if questions %}
        <table>
            <tr>
            {% for header in headers[1:5] %}
                <th>
                    {{ nice_headers[header] }}
                </th>
            {% endfor %}
            </tr>
            {% for row in questions %}
                <tr>
                {% for header in headers[1:5] %}
                    {% if header == "title" %}
                    <td> <a href="/question/{{ row['id'] }}" >{{row[header]}} </a></td>
                    {% else %}
                    <td> {{row[header]}} </td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No results.</p>
    {% endif %}
    <p><a class="button" href="{{url_for('index')}}">Back to list</a> </p>
{% endblock %}}