<!doctype html>
<html>
<head>
    <title>AskMate | Update {{ answer['id'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Question:</h1>
    <p>{{ question_message }}</p>
    <h2>Update your answer</h2>
    <form action="/answer/{{ answer['id'] }}/edit" method="post">
        <p><label>
            Answer<br>
            <textarea rows="4" cols="40" name="message">{{ answer["message"] }}</textarea>
        </label></p>
        <p><label>
            <input type="submit" value="Update answer">
        </label></p>
    </form>
</body>
</html>