{% extends "layout.html" %}

{% block content %}
    <h1>Update your question</h1>
    <form action="/question/{{ question['id'] }}/edit" method="post">
        <p><label>
            Question title<br>
            <input type="text" value="{{ question['title'] }}" name="title">
        </label></p>
        <p><label>
            Question<br>
            <textarea rows="4" cols="40" name="message" required>{{ question["message"] }}</textarea>
        </label></p>
        <p><label>
            <input type="submit" value="Update question">
        </label></p>
    </form>
{% endblock %}