{% extends "layout.html" %}

{% block content %}
<h1>{{ user["username"] }}</h1>
<h2>Questions:</h2>
    <table>
        {% for question in questions %}
        <tr>
            <th>
                Title:
            <th>
            <td>
                <a href="{{ url_for('show_question', question_id=question['id']) }}">{{ question['title'] }}</a>
        </td>
            <th>
                Submission Time:
            </th>
            <td>
                {{ question['submission_time'] }}
            </td>
            <th>
                View Number:
            </th>
            <td>
                {{ question['view_number'] }}
            </td>
            <th>
                Vote Number:
            </th>
            <td>
                {{ question['vote_number'] }}
            </td>
            <th>
                Accepted:
            </th>
            <td>
                {{ question['accepted'] }}
            </td>
        {% endfor %}
    </table>
<h2>Answers:</h2>
    <table>
        {% for answer in answers %}
        <tr>
            <td>
                <a href="{{ url_for('show_question', question_id=answer['question_id']) }}">Go to question</a>
            </td>
            <th>
                Answer message:
            <th>
            <td>
                {{ answer['message'] }}
            </td>
            <th>
                Submission Time:
            </th>
            <td>
                {{ answer['submission_time'] }}
            </td>
            <th>
                Vote Number:
            </th>
            <td>
                {{ answer['vote_number'] }}
            </td>
            <th>
                Accepted:
            </th>
            <td>
                {% if answer['accepted'] %}
                    ✔
                {% else %}
                    ❌
                {% endif %}
            </td>
        {% endfor %}
    </table>
<h2>Comments:</h2>
    <table>
        {% for comment in comments %}
        <tr>
            <td>
                <a href="{% if comment['question_id'] is not none %}
                    {{ url_for('show_question', question_id=comment['question_id']) }}
                {% elif comment['answer_id'] is not none %}
                    {{ url_for('answer', answer_id=comment['answer_id']) }}
                {% endif %}">Go to post</a>

            </td>
            <th>
                Comment message:
            <th>
            <td>
                {{ comment['message'] }}
            </td>
            <th>
                Submission Time:
            </th>
            <td>
                {{ comment['submission_time'] }}
            </td>
            <th>
                Edited Count:
            </th>
            <td>
                {{ comment['edited_count'] }}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
{% endblock %}